Subject: Password change reminder - {{settings.system.site.organization}}, {{settings.system.site.name}}.

This is a reminder to change the password for your Metadata Catalogue account with username: {{user.username}} before it is locked.

You can change your password by visiting {{settings.system.server.protocol}}://{{settings.system.server.host}}:{{settings.system.server.port}}/geonetwork/srv/eng/user.pwedit

Regards,

Metadata Team.
